@tailwind base;
@tailwind components;
@tailwind utilities;

.safariVideo {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

body.home {
  /* @apply scroll-auto xl:scroll-smooth; */
  @apply scroll-smooth;
  @apply motion-reduce:scroll-auto;
}
