@tailwind base;
@tailwind components;
@tailwind utilities;

.safariVideo {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
