/* purgecss start ignore */
body {
  @apply bg-gradient-to-tr from-indigo-300 to-indigo-800;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-800 bg-gradient-to-br from-indigo-600 to-green-600;
}

.bm-overlay + div {
  background: white;
  padding: 0;
  position: fixed;
  right: 0;
  width: 120px;
  height: 50px;
  top: 15px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  @apply rounded-tl-lg rounded-bl-lg;
}

.bm-overlay + div::before {
  right: 54px;
  position: absolute;
  content: "Menú";
  @apply font-serif text-lg font-bold text-gray-500;
}

@screen lg {
  .bm-overlay + div {
    background: transparent;
    @apply hidden;
  }
  .bm-overlay + div::before {
    @apply hidden;
  }
}

.home-hero {
  min-height: 40vh;
}

@screen md {
  .home-hero {
    min-height: 60vh;
  }
}

@screen lg {
  .home-hero {
    min-height: 60vh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-900;
}

@screen lg {
  body {
    margin-left: 0;
  }
}

main {
  min-height: 30vh;
}

.about-text p {
  @apply mb-2;
}

#SRLLightbox {
  z-index: 9999;
}

/* .btn {
  @apply inline-block px-12 py-3 my-6 font-mono text-2xl font-bold text-center text-gray-900 transition-all duration-500 rounded-md shadow-md;
}  */
.btn:hover,
.btn:focus-visible {
  @apply ring-2 bg-opacity-80 ring-offset-2 ring-gray-600 ring-opacity-75 shadow;
}

.btn {
  @apply inline-flex items-center justify-center font-serif px-4 py-2 text-sm font-medium tracking-wide duration-300 bg-gray-200 border-0 rounded-md shadow-sm cursor-pointer bg-opacity-90 ring-0 ring-gray-800 hover:bg-opacity-80 hover:shadow-none hover:ring-2 focus:ring-2 focus-visible:ring-2 focus-visible:ring-gray-800 focus-visible:ring-opacity-75 focus-visible:ring-offset-2 md:text-base hover:ring-gray-800;
  @apply print:hidden;
}

.btn.red {
  @apply text-white bg-red-500 outline-none shadow-red-500/50 ring-red-600 print:bg-gray-200 print:text-gray-900;
}

.btn.blue {
  @apply text-white bg-blue-600 outline-none shadow-blue-500/50 ring-blue-600 print:bg-gray-200 print:text-gray-900;
}

.btn.orange {
  @apply text-white bg-orange-500 outline-none shadow-orange-700/50 ring-orange-600 print:bg-gray-200 print:text-gray-900;
}

.btn.yellow {
  @apply text-yellow-900 bg-yellow-300 outline-none shadow-orange-700/50 ring-orange-600 print:bg-gray-200 print:text-gray-900;
}

.btn.indigo {
  @apply text-white bg-indigo-500 outline-none shadow-indigo-700/50 ring-indigo-600 print:bg-gray-200 print:text-gray-900;
}

.btn.green {
  @apply text-white outline-none bg-emerald-500 shadow-emerald-500/50 ring-emerald-700 print:bg-gray-200 print:text-gray-900;
}

.btn.ghost {
  @apply font-bold text-gray-600 bg-white outline-none ring-2 ring-gray-300 shadow-gray-500/10 focus-visible:ring-gray-600 hover:bg-gray-100 focus-within:ring-gray-600 print:bg-gray-200 print:text-gray-900 hover:ring-gray-800 hover:ring-offset-2;
}

.collectionPage #ogam,
.home #OgamAnimation,
.community #OgamAnimation,
.contact #OgamAnimation {
  animation: filter-animation 8s infinite;
}

@-webkit-keyframes filter-animation {
  0% {
    -webkit-filter: hue-rotate(0deg);
  }

  50% {
    -webkit-filter: hue-rotate(100deg);
  }

  100% {
    -webkit-filter: hue-rotate(0deg);
  }
}

@keyframes filter-animation {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(100deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

.b {
  isolation: isolate;
  opacity: 0.1;
}
.b,
.c {
  fill: #cca42c;
}
.d {
  fill: #fff;
}
.e {
  fill: #702459;
}
.f {
  fill: #2f855a;
}
.g {
  fill: #2f5627;
}
.h {
  fill: #c24f06;
}

/* purgecss end ignore */
