/* purgecss start ignore */

html,
body,
canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html,
body,
canvas {
  height: 100vh !important;
}

.domFiber canvas {
  @apply bg-black !important;
}

/* purgecss end ignore */
