/* purgecss start ignore */

.ReactModal__Content {
    @apply flex flex-col w-full max-w-lg mx-auto outline-none;
    inset: initial !important;
  }
  .ReactModal__Overlay {
    @apply flex items-center justify-center;
    background-color: rgb(0 0 0 / 72%) !important;
    z-index: 9999;

  }
  
  .ReactModal__Content form {
    @apply flex flex-col;
  }
  
  .ReactModal__Content .btn {
    @apply flex flex-col;
  }
  
  .ReactModal__Content label span {
    
  }
  
  .ReactModal__Content label input {
    @apply p-2 bg-gray-200 border-0;
  }
  
  .ReactModal__Content label input:focus {
    @apply bg-gray-100 border-blue-500 ring-1;
  }
  
/* purgecss end ignore */
  