/* purgecss start ignore */

header nav {
  display: block;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  @apply py-3 mt-1 ml-3 text-base tracking-wider text-white transition-all duration-500 border-b border-transparent;
}

@screen lg {
  header nav a {
    @apply text-xl;
  }
}

.headroom-wrapper {
  position: absolute;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed !important;
  @apply transition-all duration-500;
}

.headroom--scrolled {
  @apply bg-purple-700;
}

.headroom--unpinned {
  position: fixed;
  @apply bg-green-700;
  transform: translateY(0);
}

body .headroom--scrolled {
  @apply bg-orange-700;
}

body.home .headroom--scrolled {
  @apply bg-orange-700;
}

body.games .headroom--scrolled {
  @apply bg-green-700;
}

body.about .headroom--scrolled {
  @apply bg-pink-700;
}

body.contact .headroom--scrolled {
  @apply bg-blue-700;
}

@screen md {
  .headroom--unpinned {
    transform: translateY(-100%);
    background: transparent !important;
  }
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
/* purgecss end ignore */
