/* purgecss start ignore */
body {
  @apply bg-gradient-to-tr from-indigo-300 to-indigo-800;
}

body.searcher .searcher-go {
  @apply duration-700 opacity-0;
}


*::-webkit-scrollbar {
  width: 8px;
}


*::-webkit-scrollbar-track {
  @apply bg-gray-300;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-800;
}

.bm-overlay + div {
  background: white;
  padding: 0;
  position: fixed;
  right: 0;
  width: 120px;
  height: 50px;
  top: 18px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  @apply rounded-tl-lg rounded-bl-lg;
}

.bm-overlay + div::before {
  right: 54px;
  position: absolute;
  content: "Menú";
  @apply font-sans text-lg font-bold text-gray-500;
}

@screen lg {
  .bm-overlay + div {
    background: transparent;
    @apply hidden;
  }
  .bm-overlay + div::before {
    @apply hidden;
  }
}

.home-hero {
  min-height: 40vh;
}

@screen md {
  .home-hero {
    min-height: 60vh;
  }
}

@screen lg {
  .home-hero {
    min-height: 60vh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-900;
}

@screen lg {
  body {
    margin-left: 0;
  }
}

main {
  min-height: 30vh;
}

.about-text p {
  @apply mb-2;
}

#SRLLightbox {
  z-index: 9999;
}

.btn {
  @apply inline-block px-12 py-3 my-6 font-mono text-2xl font-bold text-center text-gray-900 transition-all duration-500 rounded-md shadow-md;
}



/* purgecss end ignore */
