/* ---- .element-item ---- */
.element-item {
    position: relative;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    background: #888;
    color: #262524;
    font-family: Arial, Helvetica, sans-serif;
}

.element-item > * {
    margin: 0;
    padding: 0;
}

.element-item .name {
    position: absolute;

    left: 10px;
    top: 60px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: normal;
}

.element-item .symbol {
    position: absolute;
    left: 10px;
    top: 0px;
    font-size: 42px;
    font-weight: bold;
    color: white;
}

.element-item .number {
    position: absolute;
    right: 8px;
    top: 5px;
}

.element-item .weight {
    position: absolute;
    left: 10px;
    top: 76px;
    font-size: 12px;
}

.element-item.alkali {
    background: #f00;
    background: hsl(0, 100%, 50%);
}
.element-item.alkaline-earth {
    background: #f80;
    background: hsl(36, 100%, 50%);
}
.element-item.lanthanoid {
    background: #ff0;
    background: hsl(72, 100%, 50%);
}
.element-item.actinoid {
    background: #0f0;
    background: hsl(108, 100%, 50%);
}
.element-item.transition {
    background: #0f8;
    background: hsl(144, 100%, 50%);
}
.element-item.post-transition {
    background: #0ff;
    background: hsl(180, 100%, 50%);
}
.element-item.metalloid {
    background: #08f;
    background: hsl(216, 100%, 50%);
}
.element-item.diatomic {
    background: #00f;
    background: hsl(252, 100%, 50%);
}
.element-item.halogen {
    background: #f0f;
    background: hsl(288, 100%, 50%);
}
.element-item.noble-gas {
    background: #f08;
    background: hsl(324, 100%, 50%);
}
